<div class="row justify-content-center">

  <div class="card mr-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/borgen.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Borg</p>
    </div>
  </div>

  <div class="card mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/djungel.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Djungel-Gänget</p>
    </div>
  </div>

  <div class="card ml-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/smurf2.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Smurfs The Lost Village</p>
    </div>
  </div>

</div>

<div class="row justify-content-center">

  <div class="card mr-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/Ted.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Ted</p>
    </div>
  </div>


  <div class="card mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/ferdi.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Tjuren Ferdinand</p>
    </div>
  </div>

  <div class="card ml-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="image/comu.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">The Commuter</p>
    </div>
  </div>

</div>
