<div class="row justify-content-center">

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/1" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[1].images.posters[0].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <a href="/film/1" class="text-muted h3 pop">{{:movies[1].title_sv}}</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/2" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[2].images.posters[0].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
      <a href="/film/2" class="text-muted h3 pop">{{:movies[2].title_sv}}</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/3" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[3].images.posters[0].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
      <a href="/film/3" class="text-muted h3 pop">{{:movies[3].title_sv}}</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/4" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[4].images.posters[1].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <a href="/film/4" class="text-muted h3 pop">{{:movies[4].title_sv}}</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/6" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[6].images.posters[0].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
         <a href="/film/6" class="text-muted h3 pop">{{:movies[6].title_sv}}</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-3">
      <a href="/film/7" class="pop">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[7].images.posters[0].file_path}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <a href="/film/7" class="text-muted h3 pop">{{:movies[7].title_sv}}</a>
      </div>
    </div>
  </div>
</div>
