<div class="row justify-content-center">

  <div class="card mr-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[1].images.posters[0].file_path}}" alt="Card image cap">
    <div class="card-body">
      <a href="/film/1" class="text-muted h3">{{:movies[1].title_sv}}</a>
    </div>
  </div>

  <div class="card mt-3" style="width: 18rem;">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[2].images.posters[0].file_path}}" alt="Card image cap">
    <div class="card-body">
    <a href="/film/2" class="text-muted h3">{{:movies[2].title_sv}}</a>
    </div>
  </div>

  <div class="card ml-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[3].images.posters[0].file_path}}" alt="Card image cap">
    <div class="card-body">
    <a href="/film/3" class="text-muted h3">{{:movies[3].title_sv}}</a>
    </div>
  </div>

</div>

<div class="row justify-content-center">

  <div class="card mr-5 mt-3" style="width: 18rem;">
     <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[4].images.posters[1].file_path}}" alt="Card image cap">
    <div class="card-body">
      <a href="/film/4" class="text-muted h3">{{:movies[4].title_sv}}</a>
    </div>
  </div>


  <div class="card mt-3" style="width: 18rem;">
     <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[6].images.posters[0].file_path}}" alt="Card image cap">
    <div class="card-body">
       <a href="/film/6" class="text-muted h3">{{:movies[6].title_sv}}</a>
    </div>
  </div>

  <div class="card ml-5 mt-3" style="width: 18rem;">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{:movies[7].images.posters[0].file_path}}" alt="Card image cap">
    <div class="card-body">
      <a href="/film/7" class="text-muted h3">{{:movies[7].title_sv}}</a>
    </div>
  </div>

</div>
