<div class="jumbotron mb-5">
</div>

<div class="row">
  <div class="col-12 col-lg-4 text-left">
    <h1>Stora salongen</h1>
    <p>Stora salongen är vår största salong och det är här vi visar våra storfilmer. Förbered dig på en hisnande upplevelse på vår 24 meter breda storbildsskärm.</p>
    <p>Antal platser: 81</p>
    <p>Komfort: God (extra breda stolar)</p>
    <p>Ljud: Dolby Surround 7.1 i Harman Kardon-högtalare</p>
    <p>Bild: 258 tums bioduk i 4k-upplösning</p>
  </div>

  <div class="col-12 col-lg-4 text-left">
    <h1>Lilla salongen</h1>
    <p>Lilla salongen är vår mindre, mer intima salong. Här visar vi drama-filmer och romantiska komedier, men också spännande deckare och thrillers.</p>
    <p>Antal platser: 56</p>
    <p>Komfort: God</p>
    <p>Ljud: Dolby Surround 5.1 i Bose-högtalare</p>
    <p>Bild: 192 tums bioduk i 4k-upplösning</p>
  </div>

  <div class="col-12 col-lg-4 text-left">
    <h1>Öppettider</h1>
    <div>
        <span class="h5">Mån</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Tis</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Ons</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Tors</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Fre</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Lör</span><span class ="ml-3">11:00-22:00</span>
    </div>
    <div>
        <span class="h5">Sön</span><span class ="ml-3">11:00-22:00</span>
    </div>
  </div>
</div>