

<div class="jumbotron">
  <div class="container">
    <div class="row">
      </div>

      <div class="col-6">
      <h1></h1>
      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-4">


    <!-- Wrapper för affisch och kortfattad information om filmen -->
    <div class="film-info" style="min-height: 450px;">
      <!-- inline-stylingen är temporär -->
      <!-- Filmens affisch -->

      <figure class="figure d-inline-block float-left pr-5" style="height: 500px; width: 300px; display:">
        <img src="https://image.tmdb.org/t/p/original{{:movies[pathParams].images.posters[0].file_path}}" class="figure-img img-fluid rounded"
          alt="A generic square placeholder image with rounded corners in a figure.">
      </figure>
    </div>
  </div>
  <div class="col-4 text-left">
    <!-- Kortfattad text om filmen -->
    <h1 class="pr-5"></h1>
    <p class="text-left pr-5 mb-3"></p>
    <div>
      <span>
        <span class="h1">Filmstaden</span>
    </div>
    <!-- Kortfattad text om filmen -->
    <p class="text-left pr-5 mb-3">Filmstaden Stor öppnades i 22 september 2009. Sedan september 2010 ägs och drivs biografen av filmvisarna. Filmstaden Stor har 1 salong med totalt 90 platser.Filmsatden stor är en fin och modern biosalong! Filmstaden Sickla ligger i den tidigare Dieselverkstaden i Malmö köpkvarter</p>
    <div>
  </div>
  
</div>


 <div class="col-4 text-left">
    <!-- Kortfattad text om filmen -->
    <h1 class="pr-5"></h1>
    <p class="text-left pr-5 mb-3"></p>
    <div>
      <span>
        <span class="h4">Öppet tider</span>
    </div>
    <div>
      <span>
        <span class="h5">Mån</span><span class ="ml-1">11:00-22:00</span>
    </div>
    <div>
      <span>
        <span class="h5">Tis</span><span class ="ml-1">11:00-22:00</span>
    </div>
    <div>
      <span>
        <span class="h5">Ons</span><span class ="ml-1">11:00-22:00</span>
    </div>
    <div>
      <span>
        <span class="h5">Tors</span><span class ="ml-1">11:00-22:00</span>
    </div>
    <div>
      <span>
        <span class="h5">Fre</span><span class ="ml-1">11:00-22:00</span>
      </span>
    </div>
    <div>
      <span>
        <span class="h5">Lör</span><span class ="ml-1">11:00-22:00</span>
      </span>
    </div>
    <div>
      <span>
        <span class="h5">Sön</span>11:00-22:00</span>
      </span>
    </div>

  </div>


</div>



