<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="kids">Barn</label>
        <select name="Pensionärer" id="kids">
          <option selected>2</option>
        </select>
        <label for="kids">Pensionärer</label>
        <select name="Pensionärer" id="seniors">
          <option selected>2</option>
        </select>
        <button type="submit" class="btn btn-lg booking" id="booking-2"  >Boka filmen</button>
      </div>
    </div>
  </div>
</div>
