

<div class="row">
	<div class="col-12">
		<!-- Put carousel here -->
		<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <iframe class="d-block w-100" height="600" src="https://www.youtube.com/embed/Q0CbN8sfihY?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" alt="First slide" allowfullscreen></iframe>
		    </div>
		    <div class="carousel-item">
		    	<iframe class="d-block w-100" height="600" src="https://www.youtube.com/embed/6Vtf0MszgP8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" alt="Second slide" allowfullscreen></iframe>
		    </div>
		    <div class="carousel-item">
		    	<iframe class="d-block w-100" height="600" src="https://www.youtube.com/embed/aDshY43Ol2U?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" alt="Third slide" allowfullscreen></iframe>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<!-- Wrapper för affisch och kortfattad information om filmen -->
		<div class="film-info mb-3" style="min-height: 450px; background-color: #eee; border-bottom: 1px solid #ccc"><!-- inline-stylingen är temporär -->
			<!-- Filmens affisch -->
			<div class="card border-dark d-inline-block float-left mr-5" style="max-width: 20rem;">
			  <div class="card-body text-dark">
			  	<img class="card-img-top" src="http://via.placeholder.com/250x350" alt="Card image cap">
			  </div>
			</div>
			<!-- Kortfattad text om filmen -->
			<h1 class="pt-2">Titel på filmen</h1>
			<p class="pr-5 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="pr-5 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<!-- Wrapper för topp 3-filmer -->
		<div class="film-info mb-3" style="min-height: 350px; background-color: #eee; border-bottom: 1px solid #ccc"><!-- inline-stylingen är temporär -->
			<div class="row">
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Film-titel</div>
					  <div class="card-body text-secondary">
					    <h4 class="card-title">Topp 3-filmer</h4>
					    <p class="card-text">Detta är en exempeltext som beskriver filmens handling.</p>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
					</div>
				</div>
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Film-titel</div>
					  <div class="card-body text-secondary">
					    <h4 class="card-title">Topp 3-filmer</h4>
					    <p class="card-text">Detta är en exempeltext som beskriver filmens handling.</p>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
					</div>
				</div>
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Film-titel</div>
					  <div class="card-body text-secondary">
					    <h4 class="card-title">Topp 3-filmer</h4>
					    <p class="card-text">Detta är en exempeltext som beskriver filmens handling.</p>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>