

<div class="row">
	<div class="col-12">
		<!-- Put carousel here -->

    <div class="owl-carousel owl-theme">
      {{for movies}}
        <div class="item-video"><a class="owl-video" href="https://www.youtube.com/watch?v={{:videos.results[0].key}}&iv_load_policy=3&rel=0" ></a></div>
        <!-- <img class="poster" src="https://image.tmdb.org/t/p/original{{:poster_path}}"/> -->
      {{/for}}
    </div>

		<!-- Wrapper för affisch och kortfattad information om filmen -->
		<div class="film-info mb-3" style="min-height: 250px; background-color: #eee; border-bottom: 1px solid #ccc"><!-- inline-stylingen är temporär -->
			<!-- Filmens affisch -->
			<div class="card border-dark d-inline-block float-left mr-5" style="max-width: 20rem;">
			  <div class="card-body text-dark">
			  	<img class="card-img-top" src="/image/salong.jpg" alt="theatre">
			  </div>
			</div>
			<!-- Kortfattad text om filmen -->
			<h1 class="pt-2">About Us</h1>
			<p class="pr-5 mb-3">Landmark Theatres is a recognized leader in the industry for providing its customers consistently diverse and entertaining film products in a sophisticated adult-oriented atmosphere. Our theatres showcase a wide variety of films — ranging from independent and foreign film to 3-D movies and smart films from Hollywood. Landmark Theatres is the nation's largest theatre chain dedicated to exhibiting and marketing independent film.</p>
		</div>

		<!-- Wrapper för topp 3-filmer -->
		<div class="film-info mb-3" style="min-height: 350px; background-color: #eee; border-bottom: 1px solid #ccc"><!-- inline-stylingen är temporär -->
			<div class="row">
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Topp 3-filmer</div>
					  <div class="card-body text-secondary">
					    <a class="pop" href="/film/0"><h4 class="card-title">{{:movies[0].title_sv}}</h4></a>
					    <p class="card-text">5/5</p>
					    <p class="card-text">{{:movies[0].plot_sv}}</p>
					  </div>
					</div>
				</div>
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Topp 3-filmer</div>
					  <div class="card-body text-secondary">
					    <a class="pop" href="/film/1"><h4 class="card-title">{{:movies[1].title_sv}}</h4></a>
					    <p class="card-text">4/5</p>
					    <p class="card-text">{{:movies[1].plot_sv}}</p>
					  </div>
					</div>
				</div>
				<div class="col-4">
					<div class="card border-secondary m-3" style="max-width: 20rem;">
					  <div class="card-header">Topp 3-filmer</div>
					  <div class="card-body text-secondary">
					    <a class="pop" href="/film/2"><h4 class="card-title">{{:movies[2].title_sv}}</h4></a>
					    <p class="card-text">4/5</p>
					    <p class="card-text">{{:movies[2].plot_sv}}</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
