<div class="container">
  <button class="btn booking mt-4" id="sign-out">Logga ut</button>
  <div class="row">

    <div class="col-6">
      <div class="card border-secondary mb-3">
        <div class="card-header h1">Aktuella bokingar</div>
        <!-- fyll på med filmer -->
        <p class="card-text h2">
          {{:movies[0].title_sv}}</p>
      </div>
    </div>

    <div class="col-6">
      <div class="card border-secondary mb-3">
        <div class="card-header h1">Bokningshistorik</div>
        <!-- fyll på med filmer -->
        <p class="card-text h2">
          {{:movies[0].title_sv}}</p>

      </div>
    </div>
  </div>
</div>
