<div class="container">
  <button class="btn booking mt-4" id="sign-out">Logga ut</button>
  <div class="row">

    <div class="col-6">
      <div class="card bg-transparent mb-3">
        <div class="card-header h1">Aktuella bokingar</div>
        <div class="card-body">
        <dl class="card-text h3" id="current-bookings">
        </dl>
      </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card bg-transparent mb-3">
        <div class="card-header h1">Bokningshistorik</div>
        <div class="card-body">
        <dl class="card-text h3 text-secondary" id="past-bookings">
        </dl>
      </div>
      </div>
    </div>
  </div>
</div>
