
<div class="bc"></div>

<div class="row">

  <div class="col-6">
    <div class="list-group mt-5">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 d-flex ml-5">Salong Gustav</h5>
        </div>
        <p class="mb-1 d-flex ml-5">Fredsgatan 12.</p>
        <small class="d-flex ml-5"> 212 12 Malmö.</small>
      </a>
    </div>
  </div>

<div class="col-6">
  <div class="list-group mt-5">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 d-flex ml-5">Salong kronan</h5>
      </div>
      <p class="mb-1 d-flex ml-5">Storgatan 22.</p>
      <small class="d-flex ml-5"> 233 34 Malmö.</small>
    </a>
  </div>
</div>

</div>

<div class="row">

<div class="col-6">
  <div class="list-group mt-5">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 ml-5">Salong Emporia</h5>
      </div>
      <p class="mb-1 d-flex ml-5">Hyllie gård.</p>
      <small class="d-flex ml-5">  213 66 Malmö.</small>
    </a>
  </div>
</div>

</div>
