<div class="container">
  <div class="row justify-content-center">
  	<div class="col-12">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="form-group">
            <label for="number-of-visitors">Välj antal besökare</label>
            <select class="form-control" id="number-of-visitors">
              <option>1</option>
              <option selected>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="salon-container">
      </div>
    </div>
  </div>
</div>