body {
  overflow-y: scroll;
  background-color: black;
}

.logo {
  width: 110px;
  height: 75px;
}

.nav-item {
  font-size: 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-pills .nav-link:hover {
  background-color: #919aa1;
}

.nav-pills .nav-link.active {
  background-color: #c0cbd9;
}

.navbar-nav .nav-link {
  padding-left: 15px;
  color: black;
}

header {
  background-color: #cc0020;
}

.card {
  border: none;
}

.card-text {
  color: black;
}

.film-info {
  background-color: #eee;
  min-height: 250px;
}

h1, h2, {
  color: #919aa1;
}

span.h3, span.h5 {
  color: #919aa1;
}
